html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

main {
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}
.navbar .dropdown-menu{
    background-color: transparent;
    width: 10rem;
}


.navbar-nav .nav-link {
    color: #E28413;
    text-decoration: none;
   position: relative;
    width: fit-content;
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #E28413;
}

.navbar-toggler{
    position: relative;
    top: 100%;
    left: 65%;

}
.nav-item a{
font-size: 25px;
}

.main-footer{
    background-color:#000022 ;
    color: #f5f5f5;
}

/*Description histoire */

.card-header:first-child{
   
        border-radius: 1em;
}
.card{
    border: 0;
    border: 2px solid #E28413;
    height: 100%;
}

.card-title a{
    color: #000022;
    font-size: 1.7em;
    text-decoration: none;
}

.card-text a{
    color:#000022;
    text-decoration: none;
}

.card-header h1 {
font-family: 'Redacted';
font-size: 45px;
padding : 30px 
}

.btn {
    color:white;
    background-color: #E28413;
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative;
    top: -3em;
    left: 80%;
}

.container h1 {
    text-align: center;
    padding-top: 1em;
}

.row{
    background-color: rgba(0,0,0,.03);
    padding: 10px;
}

.lien {
    text-decoration: none;
    text-align: center;
    top: 27%;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 2em;
    background-color: #E28413;
    padding: 10px;
    border-radius: 1em;
    width: 15%;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

.text-center{
    display: flex;
    justify-content: center;
}
.text-center a {
    text-decoration: none;
    background-color: #E28413;
    padding: 10px;
    color: #f5f5f5;
    border-radius: 1em;
    display: block;
    margin-top: 21px;
    width: 15%;
}
form input{
   background-color: #E28413 ;
   border-radius: 1em;
   border: none;
   padding: 10px;
   color: #f5f5f5;
}
b{
    color: #E28413;
}


.main-container{
    display: block  ;
}


.boutoption{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.boutoption button{
    background-color: #000022;
}
.boutoption a{
    text-decoration: none;
    color: #E28413;
}


.option a {
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
    background-color: #E28413;
    border-radius: 20px;
    margin: 14px;
}
.text{
    margin: 50px;
    display: flex;
    text-align: justify ;
    background-color:#000022;
    color: #f5f5f5;
    padding: 30px;
    border-radius: 1.5em;
}
.text p{
    display: flex;
    justify-content: center;
}
.imgchap{
display: flex;
justify-content: center;
}
.imgchap img{
 width: 30%;
    }
    

.titre{
    font-size: 50px;
    text-align: center;
    font-family: 'Sulphur';
    background-color: #E28413;
    color: #f5f5f5;
}

.card-text {
    color: #E28413;
    font-weight: bold;
}

.card-img-top {
    height: 20em;
}

.error {
    display:flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.error4041 {
    font-size: 3em;
    color: #E28413;
    text-align: center;
}

.error4042 {
    text-align: center;
}

.resize {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.personne {
    width: 30%;
    height: 13em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.res {
    display:flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.centrer {
    display:flex;
    text-align: center;
    justify-content: center;
}