* {
    margin: 0 auto;
    font-family: 'Sulphur Point', sans-serif;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

.container {
    background-color: lightgrey;
    border-radius: 15px;
    max-width: 400px;
    padding: 20px;
    margin-top: 5em;
}


.content {
    border-left: 2px solid #E28413;
    border-right: 2px solid #E28413;
    display:flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.align {
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.content input{
    margin-bottom: 10px;
}

.btn {
    color:white;
    background-color: #E28413;
    margin-left: 6em;
    margin-right: 6em;
}
